<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <h1>Become an admin</h1>

    <form action="" method="post">
      <label for="adminPassword">Enter admin password: </label>
      <input type="password" id="adminPassword" name="adminPassword" />
      <button type="submit">Submit</button>
    </form>

    <% if (errors) { %>
    <ul>
      <% for (const error of errors) { %>
      <li><%= error.msg %></li>
      <% } %><% } %>
    </ul>
    <% if (wrongPassword) { %>
    <p><%= wrongPassword %></p>
    <% } %>

    <a href="/">Go home</a>
  </body>
</html>
