<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Membership</title>
  </head>
  <body>
    <h1>Become an elevated member</h1>

    <form action="" method="post">
      <label for="secretPassword">Secret password</label>
      <input type="password" id="secretPassword" name="secretPassword" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
